body {
    background-color: #fff;
    color: #333;
}

a {
    color: #337ab7;
}
a:focus, a:hover {
    color: #23527c;
}

.header {
    background: #e7e7e7 url("/assets/img/space_banner_1.jpg") no-repeat scroll left top;
    color: #fff;
}

.section--primary {
    background: #0069a2;
    color: #f9fcfd;
}

.section--light {
    background: #e7e7e7;
    color: #7e8690;
}

.btn-opencfp--primary, .btn-opencfp--primary:hover {
    background: #f9fcfd;
    color: #0149c6;
}

.btn-opencfp--light {
    background: #1571f9;
    color: #fff;
}
.btn-opencfp--light:hover {
    background: #023fa8;
    color: #fff;
}

.btn-opencfp--outlined {
    border-color: #f9fcfd;
    color: #f9fcfd;
}
.btn-opencfp--outlined:hover {
    background: #f9fcfd;
    color: #0149c6;
}

.module__header {
    background: #023fa8;
    color: #f9fcfd;
}

.navbar-opencfp {
    background: #023fa8;
}

.navbar-opencfp .navbar-nav > li > a,
.navbar-opencfp .navbar-nav .dropdown-menu > li > a{
    color: #fff;
}

.navbar-opencfp .navbar-nav > li > a:hover,
.navbar-opencfp .navbar-nav > .active > a,
.navbar-opencfp .navbar-nav > .active > a:hover,
.navbar-opencfp .navbar-nav > .active > a:focus,
.navbar-opencfp .navbar-nav .dropdown-menu>li>a:hover,
.navbar-opencfp .navbar-nav .dropdown-menu>li>a:focus,
.navbar-opencfp .nav .open>a,
.navbar-opencfp .nav .open>a:hover,
.navbar-opencfp .nav .open>a:focus
{
    border-color: #fff;
}

.help-block a {
    color: #1571f9;
}
.help-block a:hover {
    color: #023fa8;
}

.nav-tabs > li > a {
    background: #1571f9;
    color: #fff;
}
.nav-tabs > li > a:hover {
    background: #023fa8;
    color: #fff;
}
