body {
    background-color: #fff;
}

main {
    background-color: #f6f6f8;
}

.section-highlight {
    background-color: #4c2256;
    color: #fff !important;
}

.section-highlight .btn {
    border-color: #fecf05;
    background-color: #fecf05;
    color: #000;
}
.section-highlight .btn:hover {
}

nav {
    background-color: #252525;
    color: #fff;
}

nav a {
    color: #fff;
}
nav a:hover {
    color: #9babb4;
}

.footer {
    font-size: 12px;
}

.footer a:hover {
    text-decoration: underline;
}
.bg-brand, .hover\:bg-brand:hover {
    background-color: #4c2256;
}
.border-brand, .hover\:border-brand:hover {
    border-color: #4c2256;
}
.hover\:text-brand:hover, .text-brand {
    color: #4c2256;
}
.btn-brand {
    background-color: #4c2256;
    color: #fff;
    border: 2px solid #4c2256;
}
.logoWrapper {
    padding-top:5px;
    padding-bottom:5px;
}
.btn-white-o:hover{
    color: #FECF05;
}
.text-yellow{
    color: #FECF05;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
}
.text-brand{
    color: #FECF05;
    text-decoration: underline;
}
.footer{
    text-align: center;
}


/*****RESPONSIVE*****/


.nav-button-mobile{
    align-self: center;
    font-size: 30px;
    display: none;
}
.security-form{
    width: 300px;
}
@media only screen and (max-width: 992px){
    .dashboard-user-info, .admin-statistics, .d-block-md{
        display: block;
    }
    .dashboard-user-info-buttons{
        margin-top: 2rem;
    }
    .w-100-md{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .nav-button-mobile{
        display: block;
    }

    .d-block-mobile{
        display: block;
    }
    .section-highlight h2{
        margin-bottom: 1rem;
    }
    .w-100{
        width: 100%;
    }
    nav{
        position: relative;
    }

    .navigation-responsive {
        display: none;
        position: absolute;
        top: 56px;
        left: 0px;
        right: 0px;
        background-color: #252525;
    }

    .navigation-responsive a {
        display: block;
        margin-left: 2rem;
    }
}


@media only screen and (max-width: 576px) {

    .dashboard-user-info-buttons a{
        display: block;
        margin-bottom: 5px;
        width: 50%;
    }

    #hero {
        padding: 2rem;
    }
    .mobile-100-width{
        width: 100%;
    }
    .mobile-sm-display-block{
        display: block;
    }
    .mobile-padding-075{
        padding: 0.75rem;
    }
    .mobile-margin-none{
        margin: 0px;
    }
    .submit-talk-btn{
        width: 100%;
    }
    .dashboard-mobile{
        display: block;
    }
    .dashboard-user-info{
        margin-bottom: 2rem;
    }
    .dashboard-talk-info span{
        display: block;
        margin-bottom: 0.5rem;
    }

}
@media only screen and (max-width: 400px){
    .dashboard-user-info-buttons a{
        width: 100%;
    }
}




