{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        We do not look exclusively for PHP-related talks, but also any related technologies as well.
    </p>
    <p>
        It should be noted that the number of talk slots we support is limited due to a single track conference concept, so therefore it is advisable to submit only your most desirable talks.
    </p>
    <p><strong>Talk duration:</strong> 50 minutes + 5 minutes for questions</p>
    <p>
        To get the ideas flowing, here are some suggestions:
    </p>
    <ul>
        <li>Frameworks</li>
        <li>APIs (REST, SOAP, whatever)</li>
        <li>Micro-services</li>
        <li>Development principles</li>
        <li>Design patterns</li>
        <li>DDD, CQRS, Event-sourcing</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Continuous Integration and Continuous Delivery</li>
        <li>PHP internals</li>
        <li>Open Source</li>
        <li>Security</li>
        <li>Mobile-first design</li>
        <li>Developer Tools</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Javascript</li>
    </ul>
</div>
{% endblock %}

