{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        We do not look exclusively for PHP-related talks, but also any related technologies as well. It should be noted that the number of talk slots we support is limited due to a single track conference concept, therefore it is advisable to submit only your most desirable talks.
    </p>
    <p>
        To get the ideas flowing, here are some suggestions:
    </p>
    <ul>
        <li>Middleware & Microservices</li>
        <li>Building APIs (REST, GraphQL, whatever)</li>
        <li>Development principles, code quality, design patterns</li>
        <li>Continuous Integration and Delivery</li>
        <li>Virtualization, Docker, Serverless</li>
        <li>JavaScript</li>
        <li>Mobile-first design, Responsive Design, CSS</li>
        <li>User Experience (UI/UX), Usability, Accessibility</li>
        <li>PHP internals</li>
        <li>Databases</li>
        <li>Security</li>
        <li>Testing & Quality Assurance</li>
        <li>Frameworks (Laravel, Symfony, Zend Framework, and more)</li>
        <li>CMS and/or E-Commerce Development (Wordpress, Joomla, Magento, Drupal, etc.)</li>
        <li>Professional development and soft skills</li>
        <li>Performance</li>
        <li>Cloud Computing</li>
        <li>Internet of Things</li>
        <li>Data Science</li>
        <li>Machine Learning</li>
        <li>Artificial Intelligence</li>
    </ul>
</div>
{% endblock %}

