{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2>{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the most prominent experts from all around the world to share their knowledge. We provide travel and accommodation reimbursement to all selected speakers.
    </p>
    <p>When the Call for Papers closes, the organizers will sort through the submissions, making their selections. Speakers will be notified as soon as the selection process has been completed.</p>

    <h3>This year's package</h3>
    <ul>
        <li>Full conference pass</li>
        <li>
            For speakers remote to the Area:
            <ul>
                <li>Round-trip airfare/travel reimbursement; we advise speakers to book transport on their own, and then invoice us later</li>
                <li>2 complimentary hotel nights (extra nights are negotiable and should be announced in advance)</li>
                <li>Additional complimentary night for Workshop lecturers</li>
                <li>Pick-up at the Belgrade airport or bus/train station</li>
                <li>SIM cards for mobile devices to be used during the stay</li>
            </ul>
        </li>
        <li>Lunch, receptions and activities included in regular conference</li>
    </ul>

    <h3>Equipment and Setup</h3>
    <p>You will be expected to bring your own laptop capable of displaying your presentation and appropriate adapters for your laptop to connect to a projector. In turn, we will provide:</p>
    <ul>
        <li>A <strong>16:9</strong> aspect ratio screen with <strong>HDMI</strong> cable connections</li>
        <li>An audio system with <strong>wireless microphone</strong></li>
        <li>A podium for presenting from with water provided</li>
    </ul>

    <p>Other important remarks:</p>
    <ul>
        <li>if needed, bring <strong>your own remote controller and laser pointer</strong> for slides</li>
        <li>there are <strong>no confidence monitors</strong> other than your laptop screen</li>
        <li><strong>our stuff will take care of time tracking</strong>; let us know if you don't want to be distracted and do it on your own</li>
        <li>Internet access will be provided, but it is strongly suggested that you reduce any dependency on the in-house internet connection as much as possible</li>
    </ul>

    <h3>Room layouts</h3>
    <p>Conference program will be held in the following venue premises:</p>
    <ul>
        <li>
            <strong>Main Hall</strong>
            <ul>
                <li>flat, amphitheatre layout</li>
                <li>up to 800 persons capacity</li>
                <li>laptop stand</li>
            </ul>
        </li>
        <li>
            <strong>Workshop room</strong>
            <ul>
                <li>flat, classroom layout with desks, chairs and extension cords for attendees</li>
                <li>up to 30 persons capacity</li>
                <li>laptop desk</li>
            </ul>
        </li>
    </ul>

    <h3>Session timing</h3>
    <p>Your <strong>time slot is limited</strong> to the amount of time determined by the type of your talk (regular talk or a workshop), and it includes:</p>
    <ul>
        <li>your talk or workshop,</li>
        <li>Q/A session (if you're planning for one)</li>
    </ul>

    <h3>Video recording</h3>
    <p>By submitting your talk (not workshop) you agree that it will be recorded, including you on stage, your voice and slides. Video recording will be available free of charge after we publish it on our YouTube channel.</p>

    <h3>Still need help?</h3>
    <p>If you need any additional help or guidance, contact us via email: <a href="mailto:conference@phpsrbija.rs">conference@phpsrbija.rs</a>.</p>
</div>
{% endblock %}
