{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Talk Ideas</h2>
    <p>
        It should be noted that we don’t necessarily look for just PHP-related talks. It would also desirable for us to have sessions on some related technologies, too.
    </p>
    <p>
        Due to financial constraints, most conferences tend to pick speakers to present multiple talks. Therefore it is advisable to submit a few talk ideas, not just one.
    </p>
    <p><strong>Talk duration:</strong> 50 minutes + 10 minutes for questions</p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>Frameworks</li>
        <li>APIs (REST, SOAP, whatever)</li>
        <li>Micro-services</li>
        <li>Development principles</li>
        <li>Design patterns</li>
        <li>DDD, CQRS, Event-sourcing</li>
        <li>Testing (unit, functional, etc.)</li>
        <li>Continuous Integration and Continuous Delivery</li>
        <li>PHP internals</li>
        <li>Open Source</li>
        <li>Security</li>
        <li>Mobile-first design</li>
        <li>Developer Tools</li>
        <li>Version control</li>
        <li>User Experience/Usability</li>
        <li>Javascript</li>
    </ul>
</div>
{% endblock %}

