{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
    <p>
        We're committed to bringing together some of the most prominent experts from all around the world to share their knowledge. We provide a travel and accommodation package to all selected speakers.
    </p>
    <p>When the Call for Papers closes, the organizers will sort through the submissions, making their selections. Speakers will be notified as soon as the selection process has been completed.</p>

    <h4 class="headline--alpha">This year's speaker package</h4>
    <ul>
        <li>Full conference pass</li>
        <li>
            For speakers remote to the Area:
            <ul>
                <li>Round-trip airfare/travel (contacts us for costs over &euro; 500); we always advise speakers to book transport on their own, and then invoice us later</li>
                <li>Accommodation at the hotel for the duration of the conference, including the day before for foreign speakers (extra nights are negotiable and should be announced in advance)</li>
                <li>Pick-up at the Belgrade airport or bus/train station</li>
                <li>SIM cards for mobile devices to be used during the stay</li>
            </ul>
        </li>
        <li>Lunch, receptions and activities included in regular conference</li>
        <li>Optional hangouts with conference organizers and “PHP Serbia” user group members
        </li>
    </ul>

    <h4 class="headline--alpha">Equipment and Setup</h4>
    <p>You will be expected to bring your own laptop capable of displaying your presentation and appropriate adapters for your laptop to connect to a projector. In turn, we will provide:</p>
    <ul>
        <li>A 16:10 aspect ratio screen with HDMI cable connections</li>
        <li>An audio system with wireless microphone</li>
        <li>A podium for presenting from with water provided</li>
    </ul>
    <p>Internet access will be provided, but it is strongly suggested that you reduce any dependency on the in-house internet connection as much as possible. Internet access at conferences can always be problematic, so relying upon it for your talk is not advised.</p>

    <h4 class="headline--alpha">Submission Tips</h4>
    <p>
        We strongly encourage potential speakers to submit more than one submission on more than one topic. Be sure your talk title and abstract define the exact topic you want to speak about and what you hope people will learn from the session. <strong>NOTE:</strong> We will not hunt down missing details from a submission.
    </p>
</div>
{% endblock %}
